<h2>Your orders</h2>
<% if @orders.empty? %>
	<p>you have not placed any orders </p>
<% else %>
	<ul>
		<% @orders.each do |order| %>
		<p><%= order.order_number%>--<%= order.order_date %>--<%= order.total%></p>
			<% order.order_line_items.each do |order_line_item| %>
				<p>Product Name: <%= order_line_item.product.name %><br/>
				Product Price: <%= order_line_item.price %><br/>
				Product quantity: <%=order_line_item.quantity%><br/>
				Total Price: <%= order_line_item.price  %><br/>
			</p>
			<% end %>
			
		<% end %>
<% end %>