<h2><%= @product.name %>--<%=@product.code%></h2>
<img src="<%=@product.image_url %>" style="width:200px;height:100px;">

<% if user_signed_in? && current_user.is_admin %>
<%= link_to "edit",edit_product_path(@product.id) %> |<%= link_to "destroy",product_path(@product.id),method: :delete, data: {confirm: "are you sure"} %>
<% end %>

<p> INR <%= @product.price%></p>
<p> Category - <%= link_to @product.category.name, category_path(@product.category_id)%> </p>
<p> Description <%= @product.description %> </p>
<% if @product.stock > 0 %>
	<p> In Stock </p>
<% else %>
	<p> Currently unavalible</p>
<% end %>

<h2>Listing Reviews</h2>
<!-- Review.where('product_id = ?', @product.id) -->
<% if @product.reviews.empty? %>
	<b>No reviews found. be the first to add a review.</b>
<% else %>
	
	<ul>
		<% @product.reviews.each do |review|%>
			<li><%= review.title %> - <%= review.rating %>
				<% if user_signed_in? && (review.user_id == current_user.id || current_user.is_admin)%>
		<%= link_to "remove", review_path(review.id), method: :delete, data: {confirm: "are you sure"} %>
	<% end %>
			</li>
		<% end %>
	</ul>
<% end %>

<h2> Add Review </h2>
<%= form_for @review do |f| %>

	<%= f.hidden_field :product_id, value:@product.id %>

	<label>Title</label><br/>
	<%= f.text_field :title %><br/>

	<label>Description</label><br/>
	<%=f.text_field :description %><br/> 

	<label>Rating : </label><br/>
	<%=f.radio_button :rating, 1 %> 1
	<%=f.radio_button :rating, 2 %> 2
	<%=f.radio_button :rating, 3 %> 3
	<%=f.radio_button :rating, 4 %> 4
	<%=f.radio_button :rating, 5 %> 5<br/>

	<%= f.submit "Add Review" %>
<% end %>

<h2>Buy Now</h2>
	<% if user_signed_in? %>
		<%= form_for @cart_line_item do |f|%>
			<%= f.hidden_field :product_id, value: @product.id %>
			<%= f.label :quantity %> 
			<%= f.select :quantity, (1..10).to_a %> <br/>
			<%= f.submit "Add to cart" %>
		<% end %>
	<%else%>
		<b>You need to register before buying</b>
	<%end%>

<%= link_to "back", :back %>


